configargparse==1.
opencv-python
scipy
tensorboardx
tqdm
pillow==6.2.0
losswise
tensorboardx
imageio
matplotlib
numpy>=1.13.0
pandas
protobuf==3.12.2
sklearn
coverage
livereload
pypng
tensorflow==1.13.1
gdown
xvfbwrapper
mayavi
